/* Default css for GigaScience */
/* Color 1 #7ab441 */
/* Color 2 #006633 */
/* Color 3 #FFFFFF */
/* Color 4 #006633 */
/* Color 5 #7ab441 */
/* Color 6 #333333 */
 
 
/*
color 1 : Nav Tabs : should have good contrast with color2
*/
span.items-per-page, .article .multilang.module.inner h1,
body.theme div.article h3, /* these two selectors are to get article heading colours alternating between journal colours */
.article #topmatter h1,  /* they will need to be updated when articles xsl is cleaned up */
#content .secondary-nav li.current ul.sub a,
.theme #branding ul.primary-nav li.current a,
.theme .steps ul li.current,
.theme div.tabbed ul.nav li.current a, .theme .upload dt label, h3#tag-name.tag-name { color: #7ab441; }
 
button.gray,
button.red,
button.h23,
button.h23-alt,
.theme button.w62, .theme input.w62, .formbuttons a.w62,
.theme button.w74, .theme input.w74,
.theme button.w90, .theme input.w90,
.theme button.w37, .theme input.w37,
.theme button.w159, .theme input.w159,
.theme button.w247,
.theme #content a.button2, a.button-w90,
.theme #content a.button.current,
.theme #content a.button:hover,
.theme a.button.current span,
.theme a.button:hover span,
.theme button.w129,
.theme button.h23,
.theme button.h23-alt,
.saved-search .edit-container .w62,
.theme input.w129,
.theme input.h23,
.theme input.h23-alt,
.theme div.tabbed div.wrap-nav,
.top-comment-count,
.theme #branding ul.primary-nav li a:hover,
.theme #content .secondary-nav li.current a,
.theme #content .secondary-nav li a:hover,
body #content ul#aboutus-navigation.secondary-nav li.current a,
body #content ul#aboutus-navigation.secondary-nav li a:hover,
.theme .steps ul li span,
.theme .steps ul li.current span,
.theme .steps ul li.ready a:hover span,
.theme #content p.tools a.add,
span.plus-button,
.theme #content p.tools a.remove, .accordion .wrap-in h3, #content .accordion .wrap-in h3.hover, #content .accordion .wrap-in h3.active,
.theme #content ul.clips li.playing a,
.theme #content ul.clips li.playing a:hover,
.theme #content ul.clips li.paused a,
.theme #content ul.clips li.paused a:hover,
.theme #content ul.clips li.progress a,
.theme #content ul.clips li.progress a:hover,
.theme #content a.small-btn,
.theme #content a.small-btn span,
.profile a.close, input.close, input.w159, input.w74, .branding-mobile a.btn, button#search_go, a.btn.feedback, a.btn { background-color: #7ab441; }
.top-comment-count { border-color: #7ab441;}
.w90:hover, .w159:hover, .mobile .branding-mobile .btn { background-color: #006633; text-decoration: none; }

/*
color 2 : Buttons and transparent icons
*/
 
.theme ul.alerts,
#content .secondary-nav li.current ul.sub a:hover,
.theme #content .alerts button.plainText-button.hover,
body.theme #content ul.sub-nav li a:hover,
body.theme #content ul.sub-nav li.current a,
.interests .wrap-in ul li label, ul li a { color: #006633; }
 
.theme .options a i.arrow,
.theme .articles-feed a i.arrow,
.theme .summary a i.arrow,
.theme #guard-page a.summary i.arrow,
.theme #content div.pager a i.arrow,
.theme a.top i.arrow,
.theme .saved-search ul li a i.arrow,
.theme #content ul.alerts li dl dt a.setts i.arrow,
.theme .custom ul.themes li h2 i.arrow,
ul.alerts li.enabled dt span,
#content div.pager a i,
.theme .block ul li a i,
.theme ul.list li i,
a.more-alert,
.theme #branding ul.primary-nav li a,
body #content ul#aboutus-navigation.secondary-nav li a,
button.gray:hover, button.red:hover, button.h23:hover, button.h23-alt:hover,
.theme button.w62.hover, .theme input.w62.hover,
.theme button.w74.hover, .theme input.w74.hover,
.theme button.w90.hover, .theme input.w90.hover,
.theme button.w37.hover, .theme input.w37.hover,
.theme button.w159.hover, .theme input.w159.hover,
.theme button.w129.hover, .theme input.w129.hover,
.theme button.w247.hover,
.theme button.h23.hover,
.theme button.hover.h23-alt,
.theme #content .secondary-nav li a,
.theme #content p.tools a.add,
.theme #content p.tools a.remove,
.theme #content p.tools a:hover,
.theme #content a.small-btn.current,
.theme #content a.small-btn:hover,
.theme #content a.small-btn.current span,
.theme #content a.small-btn:hover span,
.theme #content a.button2.current,
.theme #content a.button-w90.current,
.theme #content a.button2:hover,
.theme #content a.button-w90:hover, button.w159:hover, input.w159:hover, input.w74:hover, .branding-mobile a.btn:hover, button#search_go:hover, a.btn:hover.feedback {background-color: #006633;}
 
/*
color 3 : Navigation text colour : default is #ffffff
*/
.theme div.tabbed ul.nav li a,
body.theme #content ul.sub-nav li a,
.theme #branding ul.primary-nav li a, .mobile a.btn.feedback {color: #FFFFFF}
 
/*
color 4 : Links: default color is same as color1
*/
.theme a,
.theme a:visited,
.blank a,
.theme  #browse-by-subject-content h2,
ul.square li a,
body.theme #content ul.sub-nav li.current a,
.theme #content .alerts button.plainText-button,
.theme div.tabbed ul.nav li.current li.current a ,
#content .secondary-nav li.current ul.sub a:hover,
.journal-sections article-title a, #browse-by-issues a h2, #browse-by-issues a h3, .home #content ul.access.chem li a, #browse h3.archive-jcmr,#browse h3.archive-jcmr a:hover, .mobile.mobile-layout a
{ color: #006633 }
ul.sub-nav li a span:hover, ul.sub-nav li a:hover , #footer span.views a, .sharethis_title.btn, .downloadto_title.btn{ color: #006633 !important}

/*
color 5 : Link hover: default color is same as color2
*/
.theme a:hover,
.theme a:active,
.blank a:hover,
ul.square li a:hover,
div.tabbed ul.nav li.current li a:hover,
.theme div.tabbed ul.nav li.current li a:hover, .home #content ul.access.chem li a:hover, #browse h3.archive-jcmr a 
{ color: #7ab441; }
#footer span.views a:hover{ color: #7ab441 !important; }
 
/*
color 6 : Headings: default color is same as color2
*/
.theme h1,
.theme h2,
.theme h3, .wrap-inner.content .featured-height h3,
.theme h4,
.theme h5,
.theme .manuscript-name,
table.formtable .label,
.theme fieldset.details label{ color: #333333; }
 
/*
OLD SHADE 6 : For editorial tool background
*/
 
table.admin_col_two table.formtable {
background-color: #FFFFFF;
}

/* MOBILE colours */

@media screen and (max-width: 66em) {
	body.mobile #branding ul.primary-nav li  a, 
	.mobile #contact_us a{color: #006633}
}
