/* T.O.C
TYPOGRAPHY
=colorbox
=thickbox
=scrollable
*/
/*
ColorBox Core Style
The following rules are the styles that are consistant between themes.
Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:visible;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
 
/*
ColorBox example user style
The following rules are ordered and tabbed in a way that represents the
order/nesting of the generated HTML, so that the structure easier to understand.
*/
 
#cboxOverlay{background:#666;}
#colorbox{}
#cboxContent{margin-top:32px; overflow:visible;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{background:#fff; padding:10px; border-radius:10px;}
#cboxLoadedContent .container {background: #fff;}
#cboxLoadingGraphic{background:url(/images/plugins/colorbox/loading.gif) no-repeat center center;}
#cboxLoadingOverlay{background:#fff; border-radius:10px;}
#cboxTitle{position:absolute; top:-22px; left:0; color:#000;}
#cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}
#cboxSlideshow, #cboxPrevious, #cboxNext, #cboxClose{text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url(/images/plugins/colorbox/controls.png) no-repeat 0 0;}
#cboxPrevious{background-position:0px 0px; right:44px;}
#cboxPrevious.hover{background-position:0px -25px;}
#cboxNext{background-position:-25px 0px; right:22px;}
#cboxNext.hover{background-position:-25px -25px;}
#cboxClose{background-position:-50px 0px; right:0; background:url(/images/furniture.png) no-repeat -186px -125px; top:4px;}
.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
.cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
.cboxSlideshow_on #cboxSlideshow.hover{background-position:-100px -25px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
.cboxSlideshow_off #cboxSlideshow.hover{background-position:-75px -25px;}
.takenFrom{padding-top:1.2em;}
.imgHighlight{max-width:90%; margin:auto;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
*{padding: 0; margin: 0;}
 
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
font: 12px Arial, Helvetica, sans-serif;
color: #333333;
}
 
#TB_secondLine {
font: 10px Arial, Helvetica, sans-serif;
color:#666666;
}
 
#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}
 
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
position: fixed;
z-index:100;
top: 0px;
left: 0px;
height:100%;
width:100%;
}
 
 
.TB_overlayBG {
background-color:#000;
filter:alpha(opacity=75);
-moz-opacity: 0.75;
opacity: 0.75;
}
 
#TB_window {
position: fixed;
background: #ffffff;
z-index: 102;
color:#000000;
display:none;
border: 4px solid #525252;
text-align:left;
top:50%;
left:50%;
}
 
 
 
#TB_window img#TB_Image {
display:block;
margin: 15px 0 0 15px;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
border-top: 1px solid #666;
border-left: 1px solid #666;
}
 
#TB_caption{
height:25px;
padding:7px 30px 10px 25px;
float:left;
}
 
#TB_closeWindow{
height:25px;
padding:11px 25px 10px 0;
float:right;
}
 
#TB_closeAjaxWindow{
padding:7px 10px 5px 0;
margin-bottom:1px;
text-align:right;
float:right;
}
 
#TB_ajaxWindowTitle{
float:left;
padding:7px 0 5px 10px;
margin-bottom:1px;
}
 
#TB_title{
background-color:#e8e8e8;
height:27px;
}
 
#TB_ajaxContent{
clear:both;
padding:2px 15px 15px 15px;
overflow:auto;
text-align:left;
line-height:1.4em;
}
 
#TB_ajaxContent.TB_modal{
padding:15px;
}
 
#TB_ajaxContent p{
padding:5px 0px 5px 0px;
}
 
#TB_load{
position: fixed;
display:none;
height:13px;
width:208px;
z-index:103;
top: 50%;
left: 50%;
margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}
 
 
 
#TB_HideSelect{
z-index:99;
position:fixed;
top: 0;
left: 0;
background-color:#fff;
border:none;
filter:alpha(opacity=0);
-moz-opacity: 0;
opacity: 0;
height:100%;
width:100%;
}
 
 
#TB_iframeContent{
clear:both;
border:none;
margin-bottom:-1px;
margin-top:1px;
_margin-bottom:1px;
}
 
/*
* FancyBox - jQuery Plugin
* Simple and fancy lightbox alternative
*
* Examples and documentation at: http://fancybox.net
*
* Copyright (c) 2008 - 2010 Janis Skarnelis
*
* Version: 1.3.1 (05/03/2010)
* Requires: jQuery v1.3+
*
* Dual licensed under the MIT and GPL licenses:
* http://www.opensource.org/licenses/mit-license.php
* http://www.gnu.org/licenses/gpl.html
*/
 
#fancybox-loading {
position: fixed;
top: 50%;
left: 50%;
height: 40px;
width: 40px;
margin-top: -20px;
margin-left: -20px;
cursor: pointer;
overflow: hidden;
z-index: 1104;
display: none;
}
 
* html #fancybox-loading {	/* IE6 */
position: absolute;
margin-top: 0;
}
 
#fancybox-loading div {
position: absolute;
top: 0;
left: 0;
width: 40px;
height: 480px;
background-image: url('../../../images/icons/fancybox/fancybox.png');
}
 
#fancybox-overlay {
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: #000;
z-index: 1100;
display: none;
}
 
* html #fancybox-overlay {	/* IE6 */
position: absolute;
width: 100%;
}
 
#fancybox-tmp {
padding: 0;
margin: 0;
border: 0;
overflow: auto;
display: none;
}
 
#fancybox-wrap {
position: absolute;
top: 0;
left: 0;
margin: 0;
padding: 20px;
z-index: 1101;
display: none;
}
 
#fancybox-outer {
position: relative;
width: 100%;
height: 100%;
background: #FFF;
border: 1px solid #000;
}
 
#fancybox-inner {
position: absolute;
top: 0;
left: 0;
width: 1px;
height: 1px;
padding: 0;
margin: 0;
outline: none;
overflow: hidden;
}
 
#fancybox-hide-sel-frame {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: transparent;
}
 
#fancybox-close {
position: absolute;
top: -15px;
right: -15px;
width: 30px;
height: 30px;
background-image: url('../../../images/icons/fancybox/fancybox.png');
background-position: -40px 0px;
cursor: pointer;
z-index: 1103;
display: none;
}
 
#fancybox_error {
color: #444;
font: normal 12px/20px Arial;
padding: 7px;
margin: 0;
}
 
#fancybox-content {
height: auto;
width: auto;
padding: 0;
margin: 0;
}
 
#fancybox-img {
width: 100%;
height: 100%;
padding: 0;
margin: 0;
border: none;
outline: none;
line-height: 0;
vertical-align: top;
-ms-interpolation-mode: bicubic;
}
 
#fancybox-frame {
position: relative;
width: 100%;
height: 100%;
border: none;
display: block;
}
 
#fancybox-title {
position: absolute;
bottom: 0;
left: 0;
font-family: Arial;
font-size: 12px;
z-index: 1102;
}
 
.fancybox-title-inside {
padding: 10px 0;
text-align: center;
color: #333;
}
 
.fancybox-title-outside {
padding-top: 5px;
color: #FFF;
text-align: center;
font-weight: bold;
}
 
.fancybox-title-over {
color: #FFF;
text-align: left;
}
 
#fancybox-title-over {
padding: 10px;
background-image: url('../../../images/icons/fancybox/fancy_title_over.png');
display: block;
}
 
#fancybox-title-wrap {
display: inline-block;
}
 
#fancybox-title-wrap span {
height: 32px;
float: left;
}
 
#fancybox-title-left {
padding-left: 15px;
background-image: url('../../../images/icons/fancybox/fancybox.png');
background-position: -40px -90px;
background-repeat: no-repeat;
}
 
#fancybox-title-main {
font-weight: bold;
line-height: 29px;
background-image: url('../../../images/icons/fancybox/fancybox-x.png');
background-position: 0px -40px;
color: #FFF;
}
 
#fancybox-title-main a {
color: #fff!important;
text-decoration: none;
}
 
#fancybox-title-right {
padding-left: 15px;
background-image: url('../../../images/icons/fancybox/fancybox.png');
background-position: -55px -90px;
background-repeat: no-repeat;
}
 
#fancybox-left, #fancybox-right {
position: absolute;
bottom: 0px;
height: 100%;
width: 35%;
cursor: pointer;
outline: none;
background-image: url('../../../images/icons/fancybox/blank.gif');
z-index: 1102;
display: none;
}
 
#fancybox-left {
left: 0px;
}
 
#fancybox-right {
right: 0px;
}
 
#fancybox-left-ico, #fancybox-right-ico {
position: absolute;
top: 50%;
left: -9999px;
width: 30px;
height: 30px;
margin-top: -15px;
cursor: pointer;
z-index: 1102;
display: block;
}
 
#fancybox-left-ico {
background-image: url('../../../images/icons/fancybox/fancybox.png');
background-position: -40px -30px;
}
 
#fancybox-right-ico {
background-image: url('../../../images/icons/fancybox/fancybox.png');
background-position: -40px -60px;
}
 
#fancybox-left:hover, #fancybox-right:hover {
visibility: visible; /* IE6 */
}
 
#fancybox-left:hover span {
left: 20px;
}
 
#fancybox-right:hover span {
left: auto;
right: 20px;
}
 
.fancy-bg {
position: absolute;
padding: 0;
margin: 0;
border: 0;
width: 20px;
height: 20px;
z-index: 1001;
}
 
#fancy-bg-n {
top: -20px;
left: 0;
width: 100%;
background-image: url('../../../images/icons/fancybox/fancybox-x.png');
}
 
#fancy-bg-ne {
top: -20px;
right: -20px;
background-image: url('../../../images/icons/fancybox/fancybox.png');
background-position: -40px -162px;
}
 
#fancy-bg-e {
top: 0;
right: -20px;
height: 100%;
background-image: url('../../../images/icons/fancybox/fancybox-y.png');
background-position: -20px 0px;
}
 
#fancy-bg-se {
bottom: -20px;
right: -20px;
background-image: url('../../../images/icons/fancybox/fancybox.png');
background-position: -40px -182px;
}
 
#fancy-bg-s {
bottom: -20px;
left: 0;
width: 100%;
background-image: url('../../../images/icons/fancybox/fancybox-x.png');
background-position: 0px -20px;
}
 
#fancy-bg-sw {
bottom: -20px;
left: -20px;
background-image: url('../../../images/icons/fancybox/fancybox.png');
background-position: -40px -142px;
}
 
#fancy-bg-w {
top: 0;
left: -20px;
height: 100%;
background-image: url('../../../images/icons/fancybox/fancybox-y.png');
}
 
#fancy-bg-nw {
top: -20px;
left: -20px;
background-image: url('../../../images/icons/fancybox/fancybox.png');
background-position: -40px -122px;
}
 
div.scrollable.random {
visibility: hidden;
}
 
#nojs div.scrollable.random {
visibility: visible;
}
	
div.scrollable {
position:relative;
overflow:hidden;
width:300px;
height:207px;
margin:0;
}
div.scrollable-container {
background: transparent; height: 207px; margin: 0 0 18px; overflow: hidden; position: relative; width: 300px;
}
 
div.scrollable div#thumbs {
width:20000em;
position:absolute;
clear:both;
}
div.scrollable div#thumbs div {
float:left;
text-align:left;
width:300px;
}
div.scrollable div#thumbs div p {
color:#FFF;
font-size:1.5em;
padding:5px 13px ;
}
div.scrollable div#thumbs div p a {
color:#FFF;
text-decoration: none;
}
div.scrollable div#thumbs div p.small {
font-size: 13px;
font-weight: bold;
}
div.scrollable div#thumbs div.active {
	
}
div.navi {
width:300px;
height:20px;
overflow:hidden;
position:relative;
top:-15px;
left:105px;
}

#mobileTopSection div.navi {top:0; height:auto; left:auto; margin: 7px auto 0;} 

div.navi a {
overflow:hidden;
height:6px;
width:6px;
float:left;
margin:0 15px 0 0;
background:url(../../../images/furniture.png) -284px -67px no-repeat;
cursor:pointer;
}
div.navi a:hover {
background-position: -284px -79px !important;
}
div.navi a.active {
background-position: -284px -73px !important;
}

div.navi.aric{
    margin: 0 auto;
    width: 189px;
	left:0px
}



a.browse {
cursor: pointer;
display: block;
float: left;
font-size: 1px;
height: 38px;
margin: 85px 10px 0;
width: 30px;
position: relative;
z-index: 10;
}
 
div.scrollable-container a.right, div.scrollable-container a.right:visited {
background: url("../../../images/furniture.png") no-repeat scroll 0px -99px transparent;
clear: right;
margin-right: 1px;
position: absolute;
right: 0;
top: 0;
}
 
div.scrollable-container a.right:hover {
background: url("../../../images/furniture.png") no-repeat scroll -30px -99px transparent;
}
 
div.scrollable-container a.right:active {
background: url("../../../images/furniture.png") no-repeat scroll -60px -99px transparent;
}
 
div.scrollable-container a.left, div.scrollable-container a.left:visited {
background: url("../../../images/furniture.png") no-repeat scroll 0px -137px transparent;
margin-left: 1px;
position: absolute;
left: 0;
top: 0;
}
 
div.scrollable-container a.left:hover {
background: url("../../../images/furniture.png") no-repeat scroll -30px -137px transparent;
}
 
div.scrollable-container a.left:active {
background: url("../../../images/furniture.png") no-repeat scroll -60px -137px transparent;
}
 
 
div.scrollable-container a.disabled, div.scrollable-container div.navi.disabled {
visibility: hidden !important;
}

#mobileTopSection div.scrollable-container div.navi.disabled {
visibility: visible !important;
}
